@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?80f0oj');
  src:  url('fonts/icomoon.eot?80f0oj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?80f0oj') format('truetype'),
    url('fonts/icomoon.woff?80f0oj') format('woff'),
    url('fonts/icomoon.svg?80f0oj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
  content: "\e915";
}
.icon-flag2:before {
  content: "\e905";
  color: #ffa000;
}
.icon-flower:before {
  content: "\e906";
  color: #ab47bc;
}
.icon-routes:before {
  content: "\e907";
  color: rgba(0, 0, 0, 0.541176);
}
.icon-street-view:before {
  content: "\e908";
  color: rgba(0, 0, 0, 0.541176);
}
.icon-volume_up:before {
  content: "\e909";
}
.icon-view_list:before {
  content: "\e90a";
}
.icon-keyboard_arrow_down:before {
  content: "\e90b";
}
.icon-share:before {
  content: "\e90c";
}
.icon-sort:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-play_arrow:before {
  content: "\e90f";
}
.icon-pause:before {
  content: "\e910";
}
.icon-info_outline:before {
  content: "\e911";
}
.icon-photo_camera:before {
  content: "\e912";
}
.icon-camera:before {
  content: "\e913";
}
.icon-map:before {
  content: "\e914";
}
.icon-arrow_back:before {
  content: "\e900";
}
.icon-clock-o:before {
  content: "\e901";
}
.icon-dot-circle-o:before {
  content: "\e902";
}
.icon-circle:before {
  content: "\e903";
}
.icon-flag:before {
  content: "\e904";
}
.icon-filter:before {
  content: "\ea5b";
}
